.grid_card {
  display: grid;
  /* border: 3px solid red;
  background: red; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 40px);
  min-width: 100%;
}

@media only screen and (max-width: 400px) {
  .grid_card {
    grid-template-rows: repeat(8, 40px);
  }
  
}
@media only screen and (max-width: 300px) {
  .grid_card {
    grid-template-rows: repeat(7, 45px);
  }
  
}

@media only screen and (min-width: 764px) {
  .grid_card {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 50px);
    max-width: 25rem;
  }
}
